<div class="container">
    <div class="row">
        <div class="col">
            <h1>Ildefonso Noguerol Tirado</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <h6>Desarrollador Web</h6>
        </div>
        <div class="col-2">
            <h6>NTT DATA</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <span>Mail:</span>
        </div>
        <div class="col-sm-10">
            <span>ilde.noguerol@gmail.com</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <span>Teléfono:</span>
        </div>
        <div class="col-sm-10">
            <span>+34 648843175</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <span>Estudios</span>
        </div>
        <div class="col-md-10">
            <ol>
                <li>
                    <span>Ingeniero en Informática</span>
                </li>
                <li>
                    <span>Ingeniero en Telecomunicaciones</span>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span>Competencias</span>
            <div class="container flex-container">
                <span class="item">HTML</span>
                <span class="item">SCSS</span>
                <span class="item">JavaScript</span>
                <span class="item">Typescript</span>
                <span class="item">Angular</span>
                <span class="item">Bootstrap</span>
                <span class="item">Git</span>
                <span class="item">Accesibilidad</span>
            </div>
        </div>
    </div>
</div>